.container
  %br
  %br
  %br
  = render "layouts/footer"
  %h2 Shop by Category
  - @products.each do |category, products|
    %h3= category.name
    %ul{class: "list-group"}
      - products.each do |product|
        %li{class: "list-group-item"}
          %h4= link_to product.name, product_path(product.permalink)
          %p= product.short_description
          %p
            %b Price:
            = number_to_currency product.price
